/AbstractTypeInfo.java
/ITypeAttributes.java
/ITypeHierarchy.java
/ITypeInfo.java
/InterpunctionTypeAttribute.java
/LinkTypeAttribute.java
/NoneTypeAttributes.java
/NoneTypeHierarchy.java
/TypeAttributes.java
/TypeHierarchy.java
/WordTypeInfo.java
/XHashSet.java
