/TemplateHighlightingCalculator.java
/TemplateHighlightingConfiguration.java
/.TemplateHighlightingCalculator.java._trace
/.TemplateHighlightingCalculator.xtendbin
/.TemplateHighlightingConfiguration.java._trace
/.TemplateHighlightingConfiguration.xtendbin
