/IPredicateDO.java
/IPredicateENDS_WITH.java
/IPredicateENTER_RULE.java
/IPredicateEQUALS.java
/IPredicateEXTENDS.java
/IPredicateFIND.java
/IPredicateGET.java
/IPredicateGET_NAME.java
/IPredicateIS.java
/IPredicateLINK_TO.java
/IPredicateNEXT.java
/IPredicateOF.java
/IPredicateOF_CLASS.java
/IPredicatePREVIOUS.java
/IPredicateTARGET.java
