<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xixum.org/latex/TexDsl"
			class = "org.xixum.latex.texDsl.TexDslPackage"
			genModel = "model/generated/TexDsl.genmodel" />
	</extension>
</plugin>
